%header.main-header
  %a.logo(href="/")
    Instagram Omniauth
  .nav.navbar.navbar-static-top(role="navigation")
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.user.user-menu
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            %img.user-image(alt="(User Image)" src="http://placehold.it/160x160")
            %span.hiddle-xs Current User
          %ul.dropdown-menu
            %li.header
              Current User
            %li.divder
            %li
              %i.fa.fa-sign-out
                Log out
